<h1> <%=@name_1%> VS <%=@name_2%> </h1>

<div>
  <img src='http://static1.comicvine.com/uploads/original/11121/111211285/5193768-5345948947-peter.jpg' width="300" height="462">
  <img src='http://static3.comicvine.com/uploads/scale_super/12/124770/2421278-arts-graphics-2007_1178111a.jpg'>
</div>
