<h1>
  <font size="10">&emsp;&nbsp;&nbsp;<%=@name_1%> <%=@player1_hp%>HP &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <%=@name_2%> <%=@player2_hp%>HP</font>
</h1>

<div>
  <img src='http://static1.comicvine.com/uploads/original/11121/111211285/5193768-5345948947-peter.jpg' width="280" height="440">
  <img src='http://www.wordstream.com//images/pr-versus-content-marketing.jpg' width="200" height="150">
  <img src='http://static3.comicvine.com/uploads/scale_super/12/124770/2421278-arts-graphics-2007_1178111a.jpg'>
</div>

<form action="/attack">
  <input type="submit" value="Talk smack">
</form>
